/* -------------CONTACTS------------- */

.contacts {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    display: flex;
  }
}

.contacts__item {
  @include mq(tablet-only) {
    &:first-child {
      margin-bottom: 10px;
    }
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }

  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
